low_grey = hsl(0,0,98)
orange = #e66e12
blue = #27358a

body
	margin 0
	font-family 'Robot', sans-serif

//auxiliar classes
.max-width
	width auto
		
	
.Header
	background low_grey
	margin 0
	&-imageContainer
		margin 0
	&-image
		width 280px
		height 130px	
		