low_grey = hsl(0,0,98)
orange = #e66e12
blue = #27358a
red = #c76a58
light-blue = #4f95b0
most-light-blue = #CED8F6
body
	margin 0
	font-family 'Roboto', sans-serif

//auxiliar classes
.max-width
	width 100%
.middle-width
	width 500px
	float left
	
	
.large
	width 150px
.rounded
	border-radius 50%
.round
	border-radius 6px	
.squart
	width 100px
	height 100px
.bg
	&-blue
		background blue
	&-orange
		background orange
	&-red
		background red
	&-light-blue
		background light-blue			
.levitate
	&-button
		border none
		border-bottom 4px solid rgba(0,0,0,0.6)
.font
	&-white
		color white
.vertical-align-top
	vertical-align text-top	
.margin
	margin 2em
.padding
	padding 1em		
							
					
		
	
.Header
	background low_grey
	margin 0
	&-imageContainer
		margin 0
	&-image
		width 280px
		height 130px	
		
.Checkout
	overflow hidden
	text-align center
	margin-top 2em
	&-label
		border 2px solid orange
		text-align center
		font-size 2em
		margin-bottom 1em
		padding 1em
		
	&-inputContainer
		text-align center
			
	
	&-button
		padding 0
		margin 1em 3em
		border none
		&:hover
			background red
	&-buttonAvailable
		&:hover
			background most-light-blue
.Register
	width 500px
	margin 2em
	
.Login
	padding 2emem
	width 400px
	margin 2em auto
	border 1px solid orange
	&-button
		padding 0.7em 0.3em
		text-align center
					
	
	 	

		